#Provide your Static authentication token below
REACT_APP_VIDEOSDK_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlrZXkiOiJhN2Y2MWI1YS03MWE3LTQxNjItYjAxOS1mMDEyN2FhMjI1OGUiLCJwZXJtaXNzaW9ucyI6WyJhbGxvd19qb2luIl0sImlhdCI6MTcwODUwNDE3NCwiZXhwIjoxNzExMDk2MTc0fQ.px9uY14YaAPcetdhZml-dleESJ9vak4dQn7MHzOq3Yk"

#OR

#Provide your authentication server base url
REACT_APP_AUTH_URL = ""

#Any one value from above is mandatory for testing purpose
#For production deployment, we recommend using an Authentication server instead of static token